extends ../../layouts/admin

block head
  title Smoke Alarm Request Portal&nbsp;&mdash;&nbsp;Admin Area

block neck
  link(rel='stylesheet', href='/views/admin/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-3
      div.page-header
        p Reports:
        a(href='/admin/requests/') Smoke Alarm Installation Requests
