extends ../../layouts/admin

block head
  title Smoke Alarm Request Portal&nbsp;&mdash;&nbsp;Admin Area

block neck
  link(rel='stylesheet', href='/views/admin/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-3
      div.page-header
        h2 Reports:
        p
          a(href='/admin/requests/') Smoke Alarm Installation Requests
        if user.siteAdmin
          h2 Administration:
          p
            a(href='/admin/users/') Users
