extends layout

block content
  #container.container-fluid
    .row
      .col-sm-12
        h1 Smoke Alarm Request Portal&nbsp;&mdash;&nbsp;Admin Area
    #main.row
      #left.col-sm-10
        p
          | Imagine an admin page here.
