extends layout

block content
  #container.container-fluid
    #organization-name.row
      .col-sm-12
        h1 American Red Cross of Chicago & Northern Illinois
    #main.row
      #left.col-sm-4
         p
           | Thank you for your interest in having one or more 10 year lithium-ion battery powered smoke alarms installed in your home.
         p
           | Please complete the form on this page and click “submit”. An American Red Cross representative will contact you shortly to confirm your registration into our wait list. Additional information on installation will be given at that time.
      #right.col-sm-8
        .container-fluid
          form(action="/", method="POST", class="form-horizontal")
            fieldset
              .row
                // Text input
                .form-group
                  label.col-sm-4.control-label(for='name')
                    .label-background Your Name
                  .col-sm-7
                    .row
                      .col-xs-8
                        input#name.form-control.input-md(name='name', type='text', placeholder='', required)
                      .col-xs-4.warning-star *
              .row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='street_address')
                      .label-background Address & Unit
                    .col-sm-6
                      input#street_address.form-control.input-md(name='street_address', type='text', placeholder='')
              .row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='city')
                      .label-background City
                    .col-sm-3
                      input#city.form-control.input-md(name='city', type='text', placeholder='')
              .row
                .component(data-content='', data-title='Select Basic', data-trigger='manual', data-html='true')
                  // Select Basic
                  .form-group
                    label.col-sm-4.control-label(for='state')
                      .label-background State
                    .col-sm-3
                      select#state.form-control(name='state')
                        option(value='')
                        option(value='Alabama') Alabama
                        option(value='Alaska') Alaska
                        option(value='Arizona') Arizona
                        option(value='Arkansas') Arkansas
                        option(value='California') California
                        option(value='Colorado') Colorado
                        option(value='Connecticut') Connecticut
                        option(value='Delaware') Delaware
                        option(value='District of Columbia') District of Columbia
                        option(value='Florida') Florida
                        option(value='Georgia') Georgia
                        option(value='Hawaii') Hawaii
                        option(value='Idaho') Idaho
                        option(value='Illinois') Illinois
                        option(value='Indiana') Indiana
                        option(value='Iowa') Iowa
                        option(value='Kansas') Kansas
                        option(value='Kentucky') Kentucky
                        option(value='Louisiana') Louisiana
                        option(value='Maine') Maine
                        option(value='Maryland') Maryland
                        option(value='Massachusetts') Massachusetts
                        option(value='Michigan') Michigan
                        option(value='Minnesota') Minnesota
                        option(value='Mississippi') Mississippi
                        option(value='Missouri') Missouri
                        option(value='Montana') Montana
                        option(value='Nebraska') Nebraska
                        option(value='Nevada') Nevada
                        option(value='New Hampshire') New Hampshire
                        option(value='New Jersey') New Jersey
                        option(value='New Mexico') New Mexico
                        option(value='New York') New York
                        option(value='North Carolina') North Carolina
                        option(value='North Dakota') North Dakota
                        option(value='Ohio') Ohio
                        option(value='Oklahoma') Oklahoma
                        option(value='Oregon') Oregon
                        option(value='Pennsylvania') Pennsylvania
                        option(value='Rhode Island') Rhode Island
                        option(value='South Carolina') South Carolina
                        option(value='South Dakota') South Dakota
                        option(value='Tennessee') Tennessee
                        option(value='Texas') Texas
                        option(value='Utah') Utah
                        option(value='Vermont') Vermont
                        option(value='Virginia') Virginia
                        option(value='Washington') Washington
                        option(value='West Virginia') West Virginia
                        option(value='Wisconsin') Wisconsin
                        option(value='Wyoming') Wyoming
              .row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='zip')
                      .label-background Zip Code
                    .col-sm-8
                      .row
                        .col-xs-4
                          input#zip.form-control.input-md(name='zip', type='text', placeholder='', class='required zipcode valid')
                        .col-xs-8.warning-star *
              .row
                  .form-group
                    label.col-sm-4.control-label(for='phone')
                      .label-background Phone #
                    .col-sm-8
                      .row
                        .col-xs-4
                          input#phone.form-control.input-md(name='phone', type='text', placeholder='', class='contact-group phoneUS valid')
                        .col-xs-8.warning-star *
              .row
                  .form-group
                    label.col-sm-4.control-label(for='email')
                      .label-background Email
                    .col-sm-7
                      .row
                        .col-xs-8
                          input#email.form-control.input-md(name='email', type='text', placeholder='', class='contact-group email valid')
                        .col-xs-4.warning-star *
              .row
                  .form-group
                    label.col-sm-4.control-label(for='singlebutton')
                    .col-sm-6
                      button#singlebutton.btn.btn-primary(name='singlebutton') Submit

    script(type="text/javascript").
      $(".form-horizontal").validate({
        rules: {
          phone: {
            require_from_group: [1, ".contact-group"]
          },
          email: {
            require_from_group: [1, ".contact-group"]
          },
        }, 
        showErrors: function(errorMap, errorList) {
          for (var i=0; i<errorList.length; i++) {
            var element = errorList[i]["element"];
            var message = errorList[i]["message"];
            var warningBox = $(element).parent().next(".warning-star");
            $(element).addClass("redstripe");
            warningBox.removeClass("warning-star");
            warningBox.addClass("warning-text");
            warningBox.text(message);
          }
        }
      });
