extends layout

block content
  #container.container-fluid
    .row
      .col-sm-12
        h1 American Red Cross of Chicago & Northern Illinois
    .row
      .col-sm-3
         p
           | Thank you for your interest in having one or more 10 year lithium-ion battery powered smoke alarms installed in your home.
         p
           | Please complete the information below and press “submit”. An American Red Cross representative will contact you shortly to confirm your registration into our wait list. Additional information on installation will be given at that time
      .col-sm-9
        .container-fluid
          form(action="/", method="POST", class="form-horizontal")
            fieldset
              .row
                .component(data-content='', data-title='Form Name', data-trigger='manual', data-html='true')
                  // Form Name
                  .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true', data-original-title='', title='')
                    // Text input
                    .form-group
                      label.col-sm-3.control-label(for='name') Name
                      .col-sm-6
                        input#name.form-control.input-md(name='name', type='text', placeholder='', required)
                  .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                    // Text input
                    .form-group
                      label.col-sm-3.control-label(for='address') Address
                      .col-sm-6
                        input#address.form-control.input-md(name='address', type='text', placeholder='', required)
                  .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                    // Text input
                    .form-group
                      label.col-sm-3.control-label(for='address_2') Address 2
                      .col-sm-6
                        input#address_2.form-control.input-md(name='address_2', type='text', placeholder='')
                  .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                    // Text input
                    .form-group
                      label.col-sm-3.control-label(for='city') City
                      .col-sm-6
                        input#city.form-control.input-md(name='city', type='text', placeholder='', required)
                  .component(data-content='', data-title='Select Basic', data-trigger='manual', data-html='true')
                    // Select Basic
                    .form-group
                      label.col-sm-3.control-label(for='state') State
                      .col-sm-6
                        select#state.form-control(name='state', required)
                          option(value='')
                          option(value='Idaho') Idaho
                          option(selected='selected' value='Illinois') Illinois
                          option(value='Indiana') Indiana
                          option(value='Kansas') Kansas
                          option(value='Missouri') Missouri
                          option(value='Minnesota') Minnesota
                          option(value='Nebraska') Nebraska
                          option(value='North Dakota') North Dakota
                          option(value='South Dakota') South Dakota
                          option(value='Wisconsin') Wisconsin
                  .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                    // Text input
                    .form-group
                      label.col-sm-3.control-label(for='zip') Zip Code
                      .col-sm-6
                        input#zip.form-control.input-md(name='zip', type='text', placeholder='', class='required zipcode valid')
                    .form-group
                      label.col-sm-3.control-label(for='zip') Phone #
                      .col-sm-6
                        input#phone.form-control.input-md(name='phone', type='text', placeholder='', class='required phoneUS valid')
                    .form-group
                      label.col-sm-3.control-label(for='checkboxes') Permission to send text messages
                      .col-sm-4
                        label.checkbox-inline(for='checkboxes-0')
                          input#checkboxes-0(type='checkbox', name='permission_to_text', value='yes')
                    .form-group
                      label.col-sm-3.control-label(for='singlebutton')
                      .col-sm-4
                        button#singlebutton.btn.btn-primary(name='singlebutton') Submit

    script(type="text/javascript").
      $(".form-horizontal").validate();