extends layout

block content
  #container.container-fluid
    #organization-name.row
      .col-sm-12
        h1 American Red Cross of Chicago & Northern Illinois
    #main.row
      #left.col-sm-4
         p
           | Thank you for your interest in having one or more 10 year lithium-ion battery powered smoke alarms installed in your home.
         p
           | Please complete the form on this page and click “submit”. Items marked with a red asterisk (<font color="#E00">*</font>) are required.
         p
           | An American Red Cross representative will contact you shortly to confirm your registration into our wait list. Additional information on installation will be given at that time.
      #right.col-sm-8
        .container-fluid
          form(action="/", method="POST", class="form-horizontal")
            fieldset
              .row
                // Text input
                .form-group
                  label.col-sm-4.control-label(for='name')
                    .label-background
                      .label-text Your&nbsp;Name
                      .warning-star *
                  .col-sm-7
                    .row
                      .col-xs-8
                        input#name.form-control(name='name', type='text', placeholder='', required)
                      .col-xs-4
                        .warning-text
              .row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='street_address')
                      .label-background Address & Unit
                    .col-sm-6
                      input#street_address.form-control(name='street_address', type='text', placeholder='')
              .row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='city')
                      .label-background City
                    .col-sm-3
                      input#city.form-control(name='city', type='text', placeholder='')
              .row
                .component(data-content='', data-title='Select Basic', data-trigger='manual', data-html='true')
                  // Select Basic
                  .form-group
                    label.col-sm-4.control-label(for='state')
                      .label-background State
                    .col-sm-3
                      select#state.form-control(name='state')
                        option(value='')
                        option(value='Alabama') Alabama
                        option(value='Alaska') Alaska
                        option(value='Arizona') Arizona
                        option(value='Arkansas') Arkansas
                        option(value='California') California
                        option(value='Colorado') Colorado
                        option(value='Connecticut') Connecticut
                        option(value='Delaware') Delaware
                        option(value='District of Columbia') District of Columbia
                        option(value='Florida') Florida
                        option(value='Georgia') Georgia
                        option(value='Hawaii') Hawaii
                        option(value='Idaho') Idaho
                        option(value='Illinois') Illinois
                        option(value='Indiana') Indiana
                        option(value='Iowa') Iowa
                        option(value='Kansas') Kansas
                        option(value='Kentucky') Kentucky
                        option(value='Louisiana') Louisiana
                        option(value='Maine') Maine
                        option(value='Maryland') Maryland
                        option(value='Massachusetts') Massachusetts
                        option(value='Michigan') Michigan
                        option(value='Minnesota') Minnesota
                        option(value='Mississippi') Mississippi
                        option(value='Missouri') Missouri
                        option(value='Montana') Montana
                        option(value='Nebraska') Nebraska
                        option(value='Nevada') Nevada
                        option(value='New Hampshire') New Hampshire
                        option(value='New Jersey') New Jersey
                        option(value='New Mexico') New Mexico
                        option(value='New York') New York
                        option(value='North Carolina') North Carolina
                        option(value='North Dakota') North Dakota
                        option(value='Ohio') Ohio
                        option(value='Oklahoma') Oklahoma
                        option(value='Oregon') Oregon
                        option(value='Pennsylvania') Pennsylvania
                        option(value='Rhode Island') Rhode Island
                        option(value='South Carolina') South Carolina
                        option(value='South Dakota') South Dakota
                        option(value='Tennessee') Tennessee
                        option(value='Texas') Texas
                        option(value='Utah') Utah
                        option(value='Vermont') Vermont
                        option(value='Virginia') Virginia
                        option(value='Washington') Washington
                        option(value='West Virginia') West Virginia
                        option(value='Wisconsin') Wisconsin
                        option(value='Wyoming') Wyoming
              .row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='zip')
                      .label-background
                        .label-text Zip&nbsp;Code
                        .warning-star *
                    .col-sm-8
                      .row
                        .col-xs-4
                          input#zip.form-control(name='zip', type='text', placeholder='', class='required zipcode valid')
                        .col-xs-8
                          .warning-text
              .row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label
                      .label-background
                        .label-text How would you like us to get in touch with you?
                        .warning-star *
                    .col-sm-8
                      .row
                        .col-xs-3.text-center
                          input#phone_preference.form-control(name='phone_preference', type='checkbox', value='phone', class='contact-pref')
                        .col-xs-3.text-center
                          input#text_preference.form-control(name='text_preference', type='checkbox', value='text', class='contact-pref')
                        .col-xs-3.text-center
                          input#email_preference.form-control(name='email_preference', type='checkbox', value='email', class='contact-pref')
                      .row
                        .col-xs-3.text-center.dark-back-l phone&nbsp;call
                        .col-xs-3.text-center.dark-back-m text
                        .col-xs-3.text-center.dark-back-r email
                      .row
                        .col-xs-9
                          #preference-warning.warning-text
              .row#phone-row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='phone')
                      .label-background
                        .label-text Phone #
                        .warning-star *
                    .col-sm-8
                      .row
                        .col-xs-4
                          input#phone.form-control(name='phone', type='text', placeholder='', class='required phoneUS valid')
                        .col-xs-8
                          .warning-text
              .row#email-row
                .component(data-content='', data-title='Text Input', data-trigger='manual', data-html='true')
                  // Text input
                  .form-group
                    label.col-sm-4.control-label(for='email')
                      .label-background
                        .label-text Email
                        .warning-star *
                    .col-sm-7
                      .row
                        .col-xs-8
                          input#email.form-control(name='email', type='text', placeholder='', class='required email valid')
                        .col-xs-4
                          .warning-text
              .row
                  .form-group
                    label.col-sm-4.control-label(for='singlebutton')
                    .col-sm-6
                      button#singlebutton.btn.btn-primary(name='singlebutton') Submit

    script(type="text/javascript").
      $(".form-horizontal").validate({
        rules: {
          phone_preference: {
            require_from_group: [1, ".contact-pref"]
          },
          text_preference: {
            require_from_group: [1, ".contact-pref"]
          },
          email_preference: {
            require_from_group: [1, ".contact-pref"]
          }
        }, 
        showErrors: function(errorMap, errorList) {
          for (var i=0; i<errorList.length; i++) {
            var element = errorList[i]["element"];
            var message = errorList[i]["message"];
            var warningBox = $(element).parent().next().children(".warning-text");
            if (warningBox.length == 0) {
              warningBox = $("#preference-warning");
            }
            $(element).addClass("redstripe");
            warningBox.text(message);
          }
        }
      });

