extends layout

block content
  #container
    .row
      .col-sm-12
        h1 American Red Cross of Chicago & Northern Illinois
        p
          | Sorry, we could not find a match for that address.
