extends layout

block content
  #container.container-fluid
    .row
      .col-sm-12
        h1 American Red Cross
    #main.row
      #left.col-sm-10
        p
          | Thank you for your smoke alarm installation request.  If you need to contact the Red Cross about this request, use ID number #{id}.  Your information has been sent to the Red Cross representative for #{region}.  A representative will contact you with information on installation availability in your area.  Please allow two to four weeks for a response.  
