extends layout

block content
  #container.container-fluid
    .row
      .col-sm-12
        h1 American Red Cross of Chicago & Northern Illinois
    #main.row
      #left.col-sm-10
        p
          | Thank you for your smoke alarm installation request in the American Red Cross #{region} region.  A regional representative will contact you shortly.
