extends layout

block content
  #container.container-fluid
    .row
      .col-sm-12
        h1 American Red Cross
    #main.row
      #left.col-sm-10
        p
          | Thank you for your smoke alarm installation request.  Your information has been sent to your local Red Cross.  A representative will contact you with information on installation availability in your area.  Please allow two to four weeks for a response.
