body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/install_combined.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    background-color: #DDD;
    color: #EEE;
    font-size: 20px;
    line-height: 140%;
    min-height: 100%;
    position: relative;
}

/* Rules for .btn-primary class pasted in from DCSOps stylesheet */
.btn-primary{
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#3276b1;
	border-color:#285e8e
}

#hdr {
    height: 91px;
    overflow: hidden;
    margin: 0px 40px;
}

#hdr.checkout-hdr {
    height: 125px;
}

#hdr.has-banner {
    height: auto;
}

#hdr.plain-hdr {
    background: #fff;
    height: 91px;
}

.page-header {
    height: 91px;
    margin: 0 auto;
    overflow: hidden;
}

.branding {
    display: inline;
    float: left;
    margin: 12px 0 8px;
    padding: 0;
}

.branding .logo {
    display: block;
}

#container {
    margin: 0px 40px;
}

#primary-nav {
    margin: 0 auto;
    padding: 0 12px 0 129px;
    width: 1075px;
}

#primary-nav:after {
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

#primary-nav .nav-list {
    display: inline;
    float: left;
    height: 41px;
}

#primary-nav .nav-item {
    display: inline;
    float: left;
    color: #6d6e70;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
}

#primary-nav .nav-link {
    background: url('../images/bg/main-nav-delim.png?1360164509') no-repeat 100% 6px;
    color: #6d6e70;
    display: block;
    padding: 14px 25px;
}

#primary-nav .nav-link:hover {
    border-bottom: 3px solid #ed1b2e;
    color: #ed1b2e;
    padding-bottom: 11px;
    text-decoration: none;
}

#primary-nav .selected .nav-link {
    border-bottom: 3px solid #ed1b2e;
    padding-bottom: 11px;
}

#primary-nav .first {
    position: relative;
    left: -30px;
    margin-right: -30px;
}

#primary-nav div.search-form {
    display: inline;
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}

#organization-name {
    margin-bottom: 10px;
}

#main {
    padding: 20px 0px 0px 0px;
    margin-left: 0px;
}

#left {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid #999;
}

#right label {
    padding: 0px;
}

#right label .label-background {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    max-width: 200px;
}

#right input {
    padding: 0px;
}

#right input.redstripe {
    border: 3px solid red;
}

#right .warning-star {
    color: #E00;
    vertical-align: top;
    padding-left: 0px;
    margin-left: -10px;
    font-size: 100%;
}

#right .warning-text {
    color: #E00;
    vertical-align: top;
    padding-left: 0px;
    margin-left: -10px;
    font-size: 75%;
}

#right button {
    font-size: 20px;
    border: 3px solid #EEE;
    float: right;
}

/* These styles prevent bizarre checkbox appearances when zoom != 1 on OSX Chrome (and possibly other browsers) */
#checkboxes-0 {
    height: 16px;
    width: 16px;
    margin-top: 16px;
}