@font-face {
  font-family: smokeAlarmDefault;
  src: url('/third-party/HelveticaNeue.ttf');
}

/* Override bootstrap's default widths */
@media (min-width: 992px) {
  .col-md-3 {
    width: 30%;
  }

  .col-md-6 {
    width: 40%;
  }
}

html {
    height: 100%;
}

body {
    background: #aaa;

    /* Note that unfortunately, repeating the url in each of these
    "background" definitions is necessary. Adding a separate rule for
    "background-image" below does not work. */

    /* Browser-specific CSS rules from http://www.colorzilla.com/gradient-editor/ */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  rgba(160,160,160,0) 0%, rgba(160,160,160,0) 90%, rgba(160,160,160,1) 100%), url("../images/install_orig_bw.jpg"); /* FF3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,rgba(160,160,160,0)), color-stop(90%,rgba(160,160,160,0)), color-stop(100%,rgba(160,160,160,1))), url("../images/install_orig_bw.jpg"); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(160,160,160,0) 0%, rgba(160,160,160,0) 90%, rgba(160,160,160,1) 100%), url("../images/install_orig_bw.jpg"); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(160,160,160,0) 0%, rgba(160,160,160,0) 90%, rgba(160,160,160,1) 100%), url("../images/install_orig_bw.jpg"); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(160,160,160,0) 0%, rgba(160,160,160,0) 90%, rgba(160,160,160,1) 100%), url("../images/install_orig_bw.jpg"); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(160,160,160,0.75) 0%, rgba(160,160,160,0.75) 90%, rgba(160,160,160,1) 100%), url("../images/install_orig_bw.jpg"); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */






    /* background-image: url("../images/install_orig_bw.jpg"); */ /* uncomment to defeat gradient */


    /* The next four rules fix a background gradient bug in Chrome. See
    http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats
    */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: 100% auto;
    color: #EEE;
    font-family: "Helvetica Neue", smokeAlarmDefault, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.6em;
}

/* Rules for .btn-primary class pasted in from DCSOps stylesheet */
.btn-primary{
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#3276b1;
	border-color:#285e8e
}

#hdr {
    height: 91px;
    overflow: hidden;
    margin: 0px 40px;
}

#hdr.checkout-hdr {
    height: 125px;
}

#hdr.has-banner {
    height: auto;
}

#hdr.plain-hdr {
    background: #fff;
    height: 91px;
}

.page-header {
    height: 91px;
    margin: 0 auto;
    overflow: hidden;
}

.branding {
    display: inline;
    float: left;
    margin: 12px 0 8px;
    padding: 0;
}

.branding .logo {
    display: block;
}

#container {
    margin: 0em 1em;
}

#primary-nav {
    margin: 0 auto;
    padding: 0 12px 0 129px;
    width: 1075px;
}

#primary-nav:after {
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

#primary-nav .nav-list {
    display: inline;
    float: left;
    height: 41px;
}

#primary-nav .nav-item {
    display: inline;
    float: left;
    color: #6d6e70;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
}

#primary-nav .nav-link {
    background: url('../images/bg/main-nav-delim.png?1360164509') no-repeat 100% 6px;
    color: #6d6e70;
    display: block;
    padding: 14px 25px;
}

#primary-nav .nav-link:hover {
    border-bottom: 3px solid #ed1b2e;
    color: #ed1b2e;
    padding-bottom: 11px;
    text-decoration: none;
}

#primary-nav .selected .nav-link {
    border-bottom: 3px solid #ed1b2e;
    padding-bottom: 11px;
}

#primary-nav .first {
    position: relative;
    left: -30px;
    margin-right: -30px;
}

#primary-nav div.search-form {
    display: inline;
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}

#organization-name {
    margin-bottom: 10px;
}
/*
#main {
    padding: 1em 0em 0em 0em;
    margin-left: 0em;
}
*/

#logo {
  margin: 1em 0em;
}

#triptych {
  margin-top: 1.2em;
}

#banner p {
  margin-bottom: 0em;
}

#left, #right {
    padding: 0em;
}

#left div, #right div {
    margin: 0em 0em 0.5em 0em;
}

#banner, #leftText, #rightText, #availability {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 0.5em;
}

#leftPicture img, #rightPicture img {
    width: 100%;
    border-radius: 4px;
}

#right input {
    padding: 0em;
}

#center #badBoy {
    margin-top: 20%;
}

#singlebutton {
    font-size: 1.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 10px;
}

/* Select dropdowns don't support placeholder text directly in HTML,
 * so we kludge up something with the same appearance, by mimicking
 * the Bootstrap grayed-out placeholder color.  This color is applied
 * to a temporary class, and index.jade has CSS to remove that class
 * from the "State" dropdown as soon as any selection is made.
 *
 * It's not entirely clear to me why this works without any special
 * treatment for 'option:first-child' vs 'option'.  If we run into
 * browser compatibility issues, that might be the place to start.
 *
 * Useful resources:
 *
 * stackoverflow.com/questions/7208786/how-to-style-the-option-of-a-html-select
 * stackoverflow.com/questions/22822427/bootstrap-select-dropdown-list-placeholder
 */
.state-not-yet-selected {
  color: grey;
}

p.bigger {
    font-size: 1.4em;
    line-height: 120%
}

p.bigger-centered {
    font-size: 1.4em;
    text-align: center;
    line-height: 120%
}

.notabene {
    font-weight: bold;
}

.notaoptime {
    font-weight: bold;
    text-decoration: underline;
}