.alert {
  display:inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}

#error-box {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#error-message {
  display:inline-block;
  margin: 0px;
  text-align: center;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;  
}