@import "../../../vendor/bootstrap/less/mixins.less";

.input-group {
  margin-bottom: 20px;

  input {
    width: 200px !important;
  }

  .btn {
    .border-left-radius(0);
  }
}

form.filters input[type=button] {
    margin: 10px 10px 10px 0px;
}

#exportCSV {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}