@import "../../../vendor/bootstrap/less/mixins.less";

.input-group {
  margin-bottom: 20px;

  input {
    width: 200px !important;
  }

  .btn {
    .border-left-radius(0);
  }
}

form.filters input[type=button] {
    margin: 10px 10px 10px 0px;
}

table#request_results {
                      overflow-x: auto;
                      overflow-y: auto;
                      width: 100%

}