{
  "development": {
    "username": "__YOUR_DEV_DB_USERNAME_HERE__",
    "password": "__YOUR_DEV_DB_PASSWORD_HERE__",
    "database": "smokealarm_development",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "mailgun_api_key": "__YOUR_MAILGUN_API_KEY_HERE__",
    "mail_domain": "__YOUR_SENDER_EMAIL_DOMAIN_HERE__",
    "mail_from_addr": "__YOUR_FROM_NAME_AND_EMAIL_ADDRESS_HERE__",
    "_comment_": ["Comment out the 'logging' line below to get SQL etc",
                  "console logging.  See also the 'Options' section of",
                  "http://docs.sequelizejs.com/en/1.7.0/docs/usage/."],
    "logging": false,
    "twilio_accountSid": "__YOUR_DEV_ACCOUNT_HERE__",
    "twilio_authToken": "__YOUR_DEV_AUTH_TOKEN_HERE__",
    "twilio_phone": "__YOUR_DEV_PHONE_HERE__"
  },
  "test": {
    "username": "__YOUR_TEST_DB_USERNAME_HERE__",
    "password": "__YOUR_TEST_DB_USERNAME_HERE__",
    "database": "",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "mailgun_api_key": "__YOUR_MAILGUN_API_KEY_HERE__",
    "mail_domain": "__YOUR_SENDER_EMAIL_DOMAIN_HERE__",
    "mail_from_addr": "__YOUR_FROM_NAME_AND_EMAIL_ADDRESS_HERE__",
    "logging": false,
    "twilio_accountSid": "__YOUR_DEV_ACCOUNT_HERE__",
    "twilio_authToken": "__YOUR_DEV_AUTH_TOKEN_HERE__",
    "twilio_phone": "__YOUR_DEV_PHONE_HERE__"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "smokealarm_production",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "mailgun_api_key": "__YOUR_MAILGUN_API_KEY_HERE__",
    "mail_domain": "__YOUR_SENDER_EMAIL_DOMAIN_HERE__",
    "mail_from_addr": "__YOUR_FROM_NAME_AND_EMAIL_ADDRESS_HERE__",
    "logging": false,
    "twilio_accountSid": "__YOUR_DEV_ACCOUNT_HERE__",
    "twilio_authToken": "__YOUR_DEV_AUTH_TOKEN_HERE__",
    "twilio_phone": "__YOUR_DEV_PHONE_HERE__"
  }
}
