{
  "development": {
    "username": "__YOUR_DEV_DB_USERNAME_HERE__",
    "password": "__YOUR_DEV_DB_PASSWORD_HERE__",
    "database": "smokealarm_development",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "test": {
    "username": "__YOUR_TEST_DB_USERNAME_HERE__",
    "password": "__YOUR_TEST_DB_USERNAME_HERE__",
    "database": "",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "smokealarm_production",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
