{
    "rc_test_region" : {
        "region_display_name": "Test Region",
        "contact_name": "OTS Red Cross Team",
        "contact_email": "__FILL_IN_TEST_RECIPIENT_ADDR_HERE__"
    },
    "rc_southern_illinois" : {
        "region_display_name": "Central & Southern Illinois",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_chicago_northern_illinois" : {
        "region_display_name": "Chicago & Northern Illinois",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_dakotas" : {
        "region_display_name": "Dakotas",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_eastern_missouri" : {
        "region_display_name": "Eastern Missouri",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_iowa" : {
        "region_display_name": "Iowa",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_idaho_montana" : {
        "region_display_name": "Idaho/Montana",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_kansas_nebraska_sw_iowa" : {
        "region_display_name": "Kansas, Nebraska & SW Iowa",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_minnesota" : {
        "region_display_name": "Minnesota",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_western_missouri" : {
        "region_display_name": "Western Missouri",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "rc_wisconsin" : {
        "region_display_name": "Wisconsin",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    }
}
