{
    "Test Region" : {
        "region_alt_name": "Test Region",
        "contact_name": "OTS Red Cross Team",
        "contact_email": "__FILL_IN_TEST_RECIPIENT_ADDR_HERE__"
    },
    "Southern Illinois" : {
        "region_alt_name": "Central & Southern Illinois",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "ARC of Chicago and Northern Illinois" : {
        "region_alt_name": "Chicago & Northern Illinois",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Dakotas" : {
        "region_alt_name": "Dakotas",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Eastern Missouri" : {
        "region_alt_name": "Eastern Missouri",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Iowa" : {
        "region_alt_name": "Iowa",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Idaho and Montana" : {
        "region_alt_name": "Idaho/Montana",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Kansas Nebraska SW Iowa" : {
        "region_alt_name": "Kansas, Nebraska & SW Iowa",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Minnesota" : {
        "region_alt_name": "Minnesota",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Western Missouri" : {
        "region_alt_name": "Western Missouri",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    },
    "Wisconsin" : {
        "region_alt_name": "Wisconsin",
        "contact_name": "__FILL_IN_FULL_NAME_HERE__",
        "contact_email": "__FILL_IN_EMAIL_ADDRESS_NO_ANGLE_BRACKETS_HERE__"
    }
}
