extends ../../../layouts/admin

block head
  title Manage Users

block neck
  link(rel='stylesheet', href='/views/admin/users/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/users/index.js')

block body
  div.row
    div.col-xs-12
      div#header
      div#adder
      div#results-table
      div#results-paging

  script(type='text/template', id='tmpl-header')
    div.page-header
      form.filters.pull-right.form-inline
        div.input-group
          input.form-control(name='username', type='text', placeholder='search users')
          button.pull-right.btn.btn-primary.btn-search(type='button')
            i.material-icons.md-24 search
      h1 Users

  script(type='text/template', id='tmpl-adder')
    form.form-inline
      div.input-group
        div.input-group-btn
          button.pull-left.btn.btn-primary.btn-add(type='button') Add New User
          input.form-control(name='username', type='text', placeholder='Enter new username', value!='<%= username %>')

  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th
          th username
          th name
          th.stretch email
          th Is site admin?
          th Is active?
          th id
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td
      input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit')
    td <%= username %>
    td.nowrap <%= name %>
    td <%= email %>
    td <%= siteAdmin ? 'Yes' : 'No' %>
    td <%= isActive %>
    td <%= id %>

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='5') no documents matched

  script(type='text/template', id='tmpl-results-paging')
    div.well
      div.btn-group.pull-left
        button.btn.btn-default(disabled=true) Page <%= pages.current %> of <%= pages.total %>
        button.btn.btn-default(disabled=true) Rows <%= items.begin %> - <%= items.end %> of <%= items.total %>
      div.btn-group.pull-right
        button.btn.btn-default.btn-page.btn-prev(data-page!='<%= pages.prev %>') Prev
        button.btn.btn-default.btn-page.btn-next(data-page!='<%= pages.next %>')  Next
      div.clearfix

  script(type='text/template', id='data-results') !{data.results}
