/* line 4, ../../src/sass/print.scss */
* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

/* line 12, ../../src/sass/print.scss */
a, a:visited {
  color: #444444 !important;
  text-decoration: underline;
}

/* line 17, ../../src/sass/print.scss */
/* a[href]:after {
  content: " (" attr(href) ")";
} */

/* line 21, ../../src/sass/print.scss */
abbr[title]:after {
  content: " (" attr(title) ")";
}

/* line 26, ../../src/sass/print.scss */
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

/* line 30, ../../src/sass/print.scss */
pre, blockquote {
  border: 1px solid #9f9fa3;
  page-break-inside: avoid;
}

/* line 35, ../../src/sass/print.scss */
thead {
  display: table-header-group;
}

/* line 39, ../../src/sass/print.scss */
tr, img {
  page-break-inside: avoid;
}

@page {
  margin: .5cm;
}

/* line 47, ../../src/sass/print.scss */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 52, ../../src/sass/print.scss */
h2, h3 {
  page-break-after: avoid;
}

/* 16.TEMPLATE SPECIFICS
------------------------------------------------------------------------- */
/* BASE PRINT STYLES */
/* line 13, ../../src/sass/print/_base.scss */
#fb-root,
#accessibility,
#hdr,
.breadcrumb,
#main,
.sidebar,
.content-sidebar,
.pagination-header,
.story-wall,
#ftr {
  display: none !important;
  left: -9999em;
  position: absolute;
}

/* line 18, ../../src/sass/print/_base.scss */
.events-print-tickets #hdr {
  display: block !important;
  left: 0;
  position: block !important;
}

/* line 24, ../../src/sass/print/_base.scss */
.content,
.primary-content {
  float: none;
  margin-left: 0;
  padding: 0;
  width: auto;
}
/* line 30, ../../src/sass/print/_base.scss */
.content .post-text,
.primary-content .post-text {
  float: none;
  width: auto;
}

/* ACCOUNT PRINT STYLES */
/* line 22, ../../src/sass/print/_account.scss */
#account #fb-root,
#account #accessibility,
#account #hdr,
#account .breadcrumb,
#account #main,
#account .share-impact-section,
#account .sidebar,
#account .box-image,
#account .action-wrap,
#account .content-sidebar,
#account .need-help-wrap,
#account .tabs-list,
#account .tools-bar,
#account .tools,
#account .action,
#account .pagination-header,
#account #ftr {
  display: none !important;
  left: -9999em;
  position: absolute;
}
/* line 28, ../../src/sass/print/_account.scss */
#account .content,
#account .primary-content {
  float: none;
  margin-left: 0;
  padding: 0;
  width: auto;
}
/* line 34, ../../src/sass/print/_account.scss */
#account .content .post-text,
#account .primary-content .post-text {
  float: none;
  width: auto;
}
/* line 39, ../../src/sass/print/_account.scss */
#account .my-courses .courses-summary .info {
  width: auto;
}
/* line 44, ../../src/sass/print/_account.scss */
#account .courses-summary,
#account .my-courses .account-assets .assets-header,
#account .my-courses .account-assets .assets-list li {
  border-color: #fff;
  border-style: none;
  border-width: 0 0 0 0;
}
/* line 49, ../../src/sass/print/_account.scss */
#account .my-courses .courses-summary .recent-badges {
  float: left !important;
  margin-left: 20px !important;
}

/* COURSES PRINT STYLES */
/* line 21, ../../src/sass/print/_courses.scss */
#courses #fb-root,
#courses #accessibility,
#courses #hdr,
#courses .breadcrumb,
#courses #main,
#courses .share-impact-section,
#courses .sidebar,
#courses .box-image,
#courses .action-wrap,
#courses .content-sidebar,
#courses .need-help-wrap,
#courses .tabs-list,
#courses .tools-bar,
#courses .action,
#courses .pagination-header,
#courses #ftr {
  display: none !important;
  left: -9999em;
  position: absolute;
}
/* line 27, ../../src/sass/print/_courses.scss */
#courses .content,
#courses .primary-content {
  float: none;
  margin-left: 0;
  padding: 0;
  width: auto;
}
/* line 33, ../../src/sass/print/_courses.scss */
#courses .content .post-text,
#courses .primary-content .post-text {
  float: none;
  width: auto;
}
/* line 38, ../../src/sass/print/_courses.scss */
#courses .my-courses .courses-summary .info {
  width: auto;
}
/* line 43, ../../src/sass/print/_courses.scss */
#courses .courses-summary,
#courses .my-courses .account-assets .assets-header,
#courses .my-courses .account-assets .assets-list li {
  border-color: #fff;
  border-style: none;
  border-width: 0 0 0 0;
}
/* line 48, ../../src/sass/print/_courses.scss */
#courses .my-courses .courses-summary .recent-badges {
  float: left !important;
  margin-left: 20px !important;
}

/* DONATE PRINT STYLES */
/* line 9, ../../src/sass/print/_donate.scss */
.donate-confirmation .primary-header,
.donate-confirmation .share-impact-section,
.donate-confirmation .other-causes,
.donate-confirmation .box-image,
.donate-confirmation .action-wrap,
.donate-confirmation .need-help-wrap {
  display: none !important;
  left: -9999em;
  position: absolute;
}
/* line 14, ../../src/sass/print/_donate.scss */
.donate-confirmation .primary-center {
  width: 100%;
}
/* line 16, ../../src/sass/print/_donate.scss */
.donate-confirmation .primary-center .post-text {
  margin-left: 0;
  width: 75%;
}

/* line 25, ../../src/sass/print/_donate.scss */
.printable-receipt .primary-content {
  width: auto;
}
